<html>
<h1>Bienvenido!</h1>

<!-- <%= components.util.getServerUrl() %> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- <script type="module"  src="../util/util.js"type="text/javascript"></script> -->
    <form id="form" method="POST" action="/subirarchivo" enctype="multipart/form-data">
        <input type="file" id="file">
        <br>
        <input type="button" value="Send" onclick="guardar()" />
    </form>

    <script>

        function guardar() {

            const formData = new FormData();
            const file = document.getElementById('file');
            const img = file.files[0];
            if (!img) {
                //Si no tengo archivo, es que no se ha seleccionado un archivo en el formulario
                alert("No has seleccionado ningún archivo");
                return false;
            } else {
                let ext = img.name.split(".").pop()
                var extPermitidas = "dcm"
                if (!(ext==extPermitidas)) {
                    alert('Asegurese de haber seleccionado un DCM');                   
                    return false;
                }
            }

            formData.append('image', img);
        
            axios.post('<%= components.util.getServerUrl() %>subirarchivo/uploadFile', formData)
                .then(res => {
                    console.log(res);
                    if (res.status == 202) {
                        alert("Archivo subido correctamente")

                        let dataSecondRequest = {
                            originalName: res.data.originalName,
                            guidnum: res.data.guidnum,
                            extension: res.data.extension,                           
                            path: res.data.path
                        }
                        ////////////////////////////////////////////////////
                        ////////////////////////////////////////////////////
                        axios.post('<%= components.util.getServerUrl() %>subirarchivo/part', dataSecondRequest)
                            .then(res => {
                                alert("Archivo encriptado y dividido")
                            })
                            .catch(err => console.log(err))
                    } else {
                        alert("Error subiendo el archivo")
                    }
                    console.log(res.data);
                    console.log(res.status);
                    console.log(res.statusText);

                })
                .catch(err => console.log(err))
        }
    </script>

    <p>CARGA ARCHIVO</p>

</html>