<h1> Login </h1>

<form action="/users/login" method="POST">
    <div>
        <label for="username">Email</label>
        <input type="text" name="username" placeholder="Enter User name" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password" />

    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>

</form>